# Example .gitignore file for your config dir.
# A * ensures that everything will be ignored.
*
.*

# You can whitelist files/folders with !, these will not be ignored.
!.gitignore
!.helmignore
!Chart.yaml
!README.md
!index.yaml
!values.yaml
!templates
!templates/**